<div class="container">
  <canvas #canvas [width]="Size*Rows" [height]="Size*Columns" style="float: left; margin: 2rem;"></canvas>

  <div>
    <br><button class="btn btn-primary" (click)=onStart()>START</button><br>
    <p>high score: <b>{{ highScore }}</b></p>
    <p>score: <b>{{ score }}</b></p><br>

  </div>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Game Over</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Your record is - <b>{{score}}</b>
          <div *ngIf = "record">It's a <b>new record !!!</b></div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
